<% content_for(:title, "#{current_user.user_name} -  membership" )%>
<div class="container">
	<div class="row">
		<div class="col-md-3">
			<%= render "shared/user_Profile_Menu" %>
		</div>
		<div class="col-md-9">
			<%= current_user.role %>
			<br><br>
			<button class="btn btn-primary">Update your account</button>
		</div>
	</div>
</div>
