<% content_for(:title, "#{current_user.user_name} -  membership" )%>
<div class="clearfix"></div>
<div id="content">
  <div class="container">
    <div class="row justify-content-md-center">
          <div class="col col-lg-12 col-xl-10">
        <div class="row has-sidebar">
          <div class="col-md-5 col-lg-4 col-xl-4 col-sidebar">
            <div id="sidebar" class="sidebar-left">
              <div class="sidebar_inner">
                <%= render "shared/user_Profile_Menu" %>
              </div>
            </div>
          </div>
          <div class="col-md-7 col-lg-8 col-xl-8">
            <div class="page-header bordered">
              <h1>Membership Status:</h1>
            </div>     
				<h5>Your Status: <%= current_user.role %></h5>
				<br>
				<button class="btn btn-primary btn-lg">Update your account</button>
		    </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>