<% content_for(:title, "#{current_user.user_name} - Your products" )%>
<%= render "shared/userProfileMenu" %>
<div class="text-center">
<h2>Your Products:</h2>
<%= render 'shared/profile_Leads', leads: @leads  %>	
</div>

