<% content_for(:title, "#{current_user.user_name} - Your offers" )%>
<%= render "shared/user_Profile_Menu" %>
<div class="text-center">
<h2>Your Offers:</h2>
<%= render 'shared/profile_Leads', leads: @leads %>		
</div>

