<% content_for(:title, "#{current_user.user_name} - notifications sended" )%>
<section id="user_porfile" class="container">
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<%= render "shared/user_Profile_Menu" %>
			</div>
			<div class="col-md-9">
				<h2>Your Sent Messages:</h2>
				<hr>
				<%  if @messages.present? %>
					<% @messages.find_each do |message| %>
					<h3>RE: <%= link_to message.lead.title, lead_path(message.lead) %></h3>
					<p>Message: <%= message.content %></p>
					<small><%= message.created_at.strftime("%Y/%m/%d - %H:%m")%></small>
					<hr>
					<% end %>
				<% else %>
					<h4 class="text-muted text-center">No messages sent yet</h4>
				<% end %>
			</div>
		</div>
	</div>
</section>
