<% content_for(:title, "#{current_user.user_name} -  offers" )%>
<div class="clearfix"></div>
<div id="content">
  <div class="container">
    <div class="row justify-content-md-center">
          <div class="col col-lg-12 col-xl-10">
        <div class="row has-sidebar">
          <div class="col-md-5 col-lg-4 col-xl-4 col-sidebar">
            <div id="sidebar" class="sidebar-left">
              <div class="sidebar_inner">
                <%= render "shared/user_Profile_Menu" %>
              </div>
            </div>
          </div>
          <div class="col-md-7 col-lg-8 col-xl-8">
            <div class="page-header bordered">
              <h1>My Offers</h1>
            </div>
            <% if @leads.count > 0 %>
            	<%= render 'shared/profile_Offers', leads: @leads %>
            <% else %>
            	<h4 class="text-muted text-center">No offers added yet</h4>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

