<% content_for(:title, "#{current_user.user_name} - notifications sended" )%>
<div class="clearfix"></div>
<div id="content">
  <div class="container">
    <div class="row justify-content-md-center">
          <div class="col col-lg-12 col-xl-10">
        <div class="row has-sidebar">
           <div class="col-md-5 col-lg-4 col-xl-4 col-sidebar">
                <%= render "shared/user_Profile_Menu" %>
          </div>
          <div class="col-md-7 col-lg-8 col-xl-8">
            <div class="page-header bordered">
              <h1>Your Sent Messages:</h1>
            </div>
            <%  if @messages.present? %>
				  <% @messages.find_each do |message| %>
  					<div class="item-info py-3">
              <h5 class="item-title">RE: <%= link_to message.lead.title, lead_path(message.lead) %></h5>
                <div class="item-details mb-2">
                  <strong>Message:</strong> <%= message.content %>
                </div>
                <div class="row py-2">
                    <div class="col-md-6">
                        <div class="added-by"><strong>Sent:</strong> <%=  message.created_at.strftime("%Y/%m/%d - %H:%m")%>
                        </div>
                    </div>
                    <div class="col-md-6">
                    </div>
                </div>
            </div>
            <hr>
				<% end %>
			<% else %>
					<h4 class="text-muted text-center">No messages sent yet</h4>
			<% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


                