<% content_for(:title, "#{current_user.user_name} - notifications sended" )%>
<div class="clearfix"></div>
<div id="content">
  <div class="container">
    <div class="row justify-content-md-center">
          <div class="col col-lg-12 col-xl-10">
        <div class="row has-sidebar">
          <div class="col-md-5 col-lg-4 col-xl-4 col-sidebar">
            <div id="sidebar" class="sidebar-left">
              <div class="sidebar_inner">
                <%= render "shared/user_Profile_Menu" %>
              </div>
            </div>
          </div>
          <div class="col-md-7 col-lg-8 col-xl-8">
            <div class="page-header bordered">
              <h1>Your Sent Messages:</h1>
            </div>
            <%  if @messages.present? %>
				<% @messages.find_each do |message| %>
					<h3>RE: <%= link_to message.lead.title, lead_path(message.lead) %></h3>
					<p>Message: <%= message.content %></p>
					<small><%= message.created_at.strftime("%Y/%m/%d - %H:%m")%></small>
					<hr>
				<% end %>
			<% else %>
					<h4 class="text-muted text-center">No messages sent yet</h4>
			<% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>