<footer class="bg-dark">
	<div class="container py-5 text-white">
		<div class="row">
			<div class="col-sm-6 col-md-3">
				<h6>Terms&Conditions:</h6>
				<ul class="list-unstyled py-2">
					<li><a href="#">About Us</a></li>
					<li><a href="#">Contact Us</a></li>
					<li><a href="#">Terms of Use</a></li>
					<li><a href="#">Privacy Policy</a></li>
				</ul>
			</div>
			<div class="col-sm-6 col-md-3">
				<h6>Membership:</h6>
				<ul class="list-unstyled py-2">
					<li><a href="#">Membership Status</a></li>
					<li><a href="#">How To Post a Lead?</a></li>
					<li><a href="#">Promote Your Ads</a></li>
					<li><a href="#">Email Marketing Campaing</a></li>
				</ul>
			</div>
		</div>
		<div id="copyrights" class="text-muted">
			<p class="float-left">
				Copyrights Trade &copy; <span id="year"></span>
			</p>
		</div>
	</div>
</footer>

