<% content_for(:title, "About us")%>
<div id="content" class="property-single">
    <div class="container">
        <div class="row justify-content-md-center">
          <div class="col col-lg-12 col-xl-8">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><%= link_to "Home", root_path %></li>
                    <li class="breadcrumb-item active" aria-current="page">About us</li>
                </ol>
            </nav>
            <div class="page-header v2 bordered">
                <h1>About us</h1>
            </div>
            <h6 class="pt-4">Please read our <%= link_to "FAQ", faq_path %>. In case of any other question feel free to ask us directly through <%= link_to "contact form", contact_us_path %></h6>
          </div>
        </div>
    </div>
</div>
