<% content_for(:title, "FAQ")%>
<div id="content" class="property-single">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col col-lg-12 col-xl-8">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
            <li class="breadcrumb-item"><%= link_to "Home", root_path %></li>
            <li class="breadcrumb-item active" aria-current="page">FAQ</li>
            </ol>
            </nav>
        <div class="page-header v2 bordered">
        <h1>Frequently Asked Questions (FAQ)</h1>
        </div>
        <h4 class="title">What is Cargocub?</h4>
        <p>Cargocub has been created to connect business partners all around the world. You can launch trade leads in order to find both buyers or suppliers of products you are interested in. </p>
        <h4 class="title">For who is Cargocub for?</h4>
        <p>Producers, suppliers, businessmen, buyers, wholesalers, sales agents, service providers and receivers of any kind. Basically everyone participating or interested in large scale international or intrastate trade.</p>
        <h4 class="title">How can I use Cargocub?</h4>
        <p>After registration you are permitted to browse all leads. In case of finding anything fulfilling your requirements you can send response to the person who launched a lead. If he/she will find your offer interesting that would start your mutual business cooperation. </p>
        <h4 class="title">How can I advertise my company and find new business partners on Cargocub?</h4>
        <p>After registration you can add your own leads with products you want to buy or sell. Other users will be able to see it immediately by searching certain phrases or under specific categories.</p>
        <h4 class="title">Is Cargocub sell anything directly?</h4>
        <p>We do not sell anything directly through our service. Leads are just a way to advertise our clients in order to establish and maintain business partnership. Any further negotiations and transactions are carried out outside of Cargocub.</p>
        <h4 class="title">Is Cargocub free of charge?</h4>
        <p>Yes. Currently our service is free from any fees.</p>
        <h4 class="title">What are the user restrictions?</h4>
        <p>Unregistered users could check 7 leads per day. Registered users have no views restrictions. They are also able to post 2 leads per week and send 10 responses. We plan to expand those numbers in the future.</p>

        <p class="pt-4"><strong>For any further questions please feel free to contact us <%= link_to "here", contact_us_path %></strong></p>
    
      </div>
    </div>
  </div>
</div>