<% content_for(:title, 'Home Page')%>
<div class="home-search">
<div class="main search-form">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-md-12 col-lg-10">
        <div class="heading">
          <h2>Find your new trade partners</h2>
          <h3 style="visibility: hidden;">.</h3>
        </div>
       	<%= form_tag(products_path, method: :get) do |f| %>
          <div class="card">
            <div class="row">
              <div class="col-lg-6">
                <div class="form-group">
                 <%= text_field_tag :q, "", id: 'main_search', class: 'form-control form-control-lg', :placeholder => "I want to find..."%>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="row">
                  <div class="col-sm-7">
                    <div class="form-group">
                      <select class="form-control form-control-lg ui-select" id="main_select">
                        <option value="offers">Find Buyers</option>
                        <option value="products">Find Suppliers</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-sm-5">
                    <div class="form-group">
                     <%= submit_tag("Search", :class => "btn btn-lg btn-primary btn-block") %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
          <div class="search-in">
			<div class="radio-box">
			<input type="radio" name="searchin" value="rent" id="rent22">
			<label class="radio-inline" for="rent22">For Rent</label>
			</div>
			<div class="radio-box">
			<input type="radio" name="searchin" value="sell" id="sell22" checked>
			<label class="radio-inline" for="sell22" >For Sell</label>
			</div>
    	</div>
      </div>
    </div>
  </div>
</div>
</div>
<div class="feature-box centered grey">
    <div>
      <div class="container">
        <div class="row justify-content-md-center">
          <div class="col col-lg-12 col-xl-10">
            <div class="row">
              <div class="col-md-4">
                <div class="content-box">
                  <div class="image"> <img src="https://image.shutterstock.com/z/stock-photo-young-businessman-construction-site-engineer-close-up-1023394366.jpg" class="rounded-circle img-fluid" width="280" alt=""> </div>
                  <h4>Lifestyle</h4>
                  <div class="caption">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos, inventore?</div>
                  <div class="button"><a href="#">FIND YOUR INSPIRATION</a></div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="content-box">
                  <div class="image"> <img src="https://image.shutterstock.com/z/stock-photo-smiling-indian-business-man-with-smartphone-532532470.jpg" class="rounded-circle img-fluid" width="280" alt=""> </div>
                  <h4>International</h4>
                  <div class="caption">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos, sapiente!</div>
                  <div class="button"><a href="#">CHOOSE A COUNTRY</a></div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="content-box">
                  <div class="image"> <img src="https://image.shutterstock.com/z/stock-photo-portrait-of-a-happy-casual-businesswoman-in-sweater-sitting-at-her-workplace-in-office-307218608.jpg" class="rounded-circle img-fluid" width="280" alt=""> </div>
                  <h4>Sell</h4>
                  <div class="caption">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet, corrupti?</div>
                  <div class="button"><a href="#">EXPLORE NOW</a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<div class="feature-box centered grey">
    <div>
      <div class="container">
        <div class="row justify-content-md-center">
          <div class="col col-lg-12 col-xl-10">
            <div class="item-listing grid">
            <div class="main-title"><span>Featured Properties</span></div>
          <div class="main-title-description">Thinking abroad? You can now dream and discover international properties</div>
              <div class="row">
                <div class="col-md-4">
                  <div class="item">
                    <div class="item-image"><a href="property_single.html"><img src="img/demo/property/1.jpg" class="img-fluid" alt="">
                      <div class="item-meta">
                        <div class="item-price">$420,000 <small>$777 / sq m</small> </div>
                      </div>
                      <div class="item-badges">
                        <div class="item-badge-left">Sponsored</div>
                        <div class="item-badge-right">For Sale</div>
                      </div>
                      </a> <a href="#" class="save-item"><i class="fa fa-star"></i></a> </div>
                    <div class="item-info">
                      <h3 class="item-title">3 bed semi-detached house</h3>
                      <div class="item-location"><i class="fa fa-map-marker"></i> Kirkstone Road, Middlesbrough TS3</div>
                      <div class="item-details-i"> <span class="bedrooms" data-toggle="tooltip" title="3 Bedrooms">3 <i class="fa fa-bed"></i></span> <span class="bathrooms" data-toggle="tooltip" title="2 Bathrooms">2 <i class="fa fa-bath"></i></span> </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="item">
                    <div class="item-image"><a href="property_single.html"><img src="img/demo/property/2.jpg" class="img-fluid" alt="">
                      <div class="item-meta">
                        <div class="item-price">$420,000 <small>$777 / sq m</small> </div>
                      </div>
                      <div class="item-badges">
                        <div class="item-badge-left">Sponsored</div>
                        <div class="item-badge-right">For Sale</div>
                      </div>
                      </a> <a href="#" class="save-item"><i class="fa fa-star"></i></a> </div>
                    <div class="item-info">
                      <h3 class="item-title">3 bed semi-detached house</h3>
                      <div class="item-location"><i class="fa fa-map-marker"></i> Kirkstone Road, Middlesbrough TS3</div>
                      <div class="item-details-i"> <span class="bedrooms" data-toggle="tooltip" title="3 Bedrooms">3 <i class="fa fa-bed"></i></span> <span class="bathrooms" data-toggle="tooltip" title="2 Bathrooms">2 <i class="fa fa-bath"></i></span> </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="item">
                    <div class="item-image"><a href="property_single.html"><img src="img/demo/property/3.jpg" class="img-fluid" alt="">
                      <div class="item-meta">
                        <div class="item-price">$420,000 <small>$777 / sq m</small> </div>
                      </div>
                      <div class="item-badges">
                        <div class="item-badge-left">Sponsored</div>
                        <div class="item-badge-right">For Sale</div>
                      </div>
                      </a> <a href="#" class="save-item"><i class="fa fa-star"></i></a> </div>
                    <div class="item-info">
                      <h3 class="item-title">3 bed semi-detached house</h3>
                      <div class="item-location"><i class="fa fa-map-marker"></i> Kirkstone Road, Middlesbrough TS3</div>
                      <div class="item-details-i"> <span class="bedrooms" data-toggle="tooltip" title="3 Bedrooms">3 <i class="fa fa-bed"></i></span> <span class="bathrooms" data-toggle="tooltip" title="2 Bathrooms">2 <i class="fa fa-bath"></i></span> </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<div class="feature-box centered">
  <div class="container">
    <div class="row justify-content-md-center">
        <div class="main-title"><span>How to start using Trade?</span></div>
        <div class="col col-lg-12 col-xl-10">
          <div class="row">
            <div class="col-md-3 text-center">
              <div style="font-size: 24px;">
                <i class="fa fa-list-alt fa-5x"></i>
                <h4>Browse</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa, at!</p>
              </div>
            </div>
            <div class="col-md-3 text-center">
              <div style="font-size: 24px;">
                <i class="fa fa-user-plus fa-5x"></i>
                <h4>Register</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa, at!</p>
              </div>
            </div>
            <div class="col-md-3 text-center">
              <div style="font-size: 24px;">
                <i class="fa fa-comments fa-5x"></i>
                <h4>Contact</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa, at!</p>
              </div>
            </div>
            <div class="col-md-3 text-center">
              <div style="font-size: 24px;">
                <i class="fa fa-file-invoice-dollar fa-5x"></i>
                <h4>Trade</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa, at!</p>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>

