<h3 class="text-center">Home Page</h3>
<p class="well">
	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid hic dolor recusandae laudantium pariatur ab autem expedita, quasi quod ipsa obcaecati temporibus ducimus, eaque. Omnis ullam animi recusandae exercitationem itaque?
</p>