<% content_for(:title, "Marketing Campaigns")%>
<div id="content" class="property-single">
    <div class="container">
        <div class="row justify-content-md-center">
          <div class="col col-lg-12 col-xl-8">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><%= link_to "Home", root_path %></li>
                    <li class="breadcrumb-item active" aria-current="page">Marketing Campaigns</li>
                </ol>
            </nav>
            <div class="page-header v2 bordered">
                <h1>Marketing Campaigns</h1>
            </div>
            <h6 class="pt-4"> 
				We are planning to expand our services and allow special users to promote their marketing campaign in the future.
				<br><br>For any more questions please contact us through <%= link_to "contact form", contact_us_path %>
            </h6>
          </div>
        </div>
    </div>
</div>
