<% content_for(:title, 'views limit')%>
<div id="content">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col col-lg-8 m-4">
        <div class="error-template text-center"> <i class="fa fa-door-open fa-5x text-success mb50 animated zoomIn"></i>
          <h3 class="main-title centered"><span>You have reached your daily limit.</span></h3>
          <div class="main-title-description">Register your account and browse everything for free.</div>
          <div class="error-actions">
          	<%= link_to "Register", new_user_registration_path, :class=>"btn btn-primary btn-lg" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>