<% content_for(:title, "#{current_user.user_name} - update profile" )%>
<div class="clearfix"></div>
<div id="content">
  <div class="container">
    <div class="row justify-content-md-center">
          <div class="col col-lg-12 col-xl-10">
        <div class="row has-sidebar">
          <div class="col-md-5 col-lg-4 col-xl-4 col-sidebar">
                <%= render "shared/user_Profile_Menu" %>
          </div>
          <div class="col-md-7 col-lg-8 col-xl-8">
            <div class="page-header bordered">
              <h1>Update your contact informations:</h1>
            </div>     
	    		<%= render "shared/contact", :contact => @contact %>
	    		<%= link_to "Show your public profile", contact_path(current_user.contact), :class=>"btn btn-primary my-5" %>
          <%= link_to "Change your password", edit_user_registration_path %>
		    </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

