@import "bootstrap";
@import "tether";
@import "flag-icon";
@import "libs/*";

@import "typography";
@import "layout";
@import "header";
@import "components";
@import "title";
@import "search";
@import "form";
@import "buttons";
@import "listing";
@import "gallery";
@import "map";
@import "utility";
@import "sidebar";
@import "footer";
@import "demo";


.center_lead{
	width: 100%!important;
}

.pagination li:last-of-type{
	display: none;
}

.category_img{
	width: 100%;
}

.text_category{
	color: #ffffff;
	text-shadow:
        0.07em 0 black,
        0 0.07em black,
        -0.07em 0 black,
        0 -0.07em black;
}