footer{
  border-top: solid 3px #AEF9E6;

  a{
    overflow: hidden; 
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #fff;
    font-size: 90%;
  }
  a:hover{
    color: #fff;
  }
}

#copyrights{
  border-top: solid 1px grey;
}