// Place all the styles related to the profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#user_porfile{
	// background: #F3F3F3;
	padding-top: 5rem;
	padding-bottom: 5rem;
	margin-top: 4rem;
	margin-bottom: 6rem;
}


 @media only screen and (max-width: 992px) {
  #user_profile_menu{
  	padding-bottom: 40px;
  }
  .profile_menu{
  	font-size: 85%!important;
  }
}
