<% content_for(:title, @category.name)%>
<h2 class="text-center">Products from category: <%= params[:category].capitalize %> </h2>

<div class="row">
	<div class="col-lg-3">
		
	</div>
	<div class="col-lg-9">
		<%= render "shared/display_Products", leads: @leads %>	
	</div>
</div>