<% content_for(:title, @category.name)%>
  <div class="container">
    <div class="row justify-content-md-center">
          <div class="col col-lg-12 col-xl-10">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
            <li class="breadcrumb-item"><%= link_to "Home", root_path %></li>
            <li class="breadcrumb-item">Offers From Buyers</li>
            <li class="breadcrumb-item active" aria-current="page">Category <%= params[:category].capitalize %></li>
            </ol>
            </nav>
      </div>
    </div>
  </div>
  <div class="container mt-3">
  <div class="search-form">
    <!-- <div class="card">
      <div class="row">
        <div class="col-lg-9">
         
      </div>
    </div>
  </div> -->
  <div class="page-header text-center">
       <h1>Latest Offers of <%= params[:category].capitalize %></h1>
  </div>
</div>
  <div id="content">
<div class="container">
    <div class="row justify-content-md-center">
          <div class="col col-lg-12 col-xl-10">
        <div class="row has-sidebar">
          <div class="col-md-4 col-lg-3">
    	
          </div>
          <div class="col-md-8 col-lg-9">
           <!--  <div class="sorting">
              <div class="row justify-content-between">
              <div class="col-sm-5 col-md-5 col-lg-4 col-xl-3">
              <div class="form-group">
                  <select class="form-control ui-select">
                    <option selected="selected">Most recent</option>
                    <option>Highest price</option>
                    <option>Lowest price</option>
                    <option>Most reduced</option>
                    <option>Most popular</option>
                  </select>
                </div>
              </div>
              <div class="col-sm-6 col-md-5 col-lg-4 col-xl-3">
              <div class="btn-group float-right" role="group"> <a href="property_grid.html" class="btn btn-light"><i class="fa fa-th"></i></a> <a href="property_listing.html" class="btn btn-light active"><i class="fa fa-bars"></i></a> </div>
              </div>
              </div>                
            </div> -->
            <div class="clearfix"></div>
            <div class="item-listing list">
              <%= render "shared/display_Offers", leads: @leads %>
            </div>
          </div>
       </div>
     </div>
    </div>
   </div>
  </div>
</div>