<h2 class="text-center">Products from category: </h2>
<% if @leads.count > 0 %>
<div class="text-center">
	<h2>All Offers</h2>
	<% @leads.each do |lead| %>
	<h2><%= link_to lead.title, lead_path(lead) %></h2>
	<p><%= lead.description %></p>
	<% end %>
</div>
<% else %>
<p class="text-center" >No products within this category... yet</p>
<% end %>