<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width"/>

    <style type="text/css">
    *{margin:0;padding:0;font-size:100%;font-family:'Avenir Next',"Helvetica Neue",Helvetica,Helvetica,Arial,sans-serif;line-height:1.65}img{max-width:100%;margin:0 auto;display:block}.body-wrap,body{width:100%!important;height:100%;background:#f8f8f8}a{color:#563d7c;text-decoration:none}.button,.container .masthead{background:#563d7c;color:#fff}a:hover{text-decoration:underline}.text-center{text-align:center}.text-right{text-align:right}.text-left{text-align:left}.button{display:inline-block;border:solid #563d7c;border-width:10px 20px 8px;font-weight:700;border-radius:4px}.button:hover{text-decoration:none}h1,h2,h3,h4,h5,h6{margin-bottom:20px;line-height:1.25}h1{font-size:32px}h2{font-size:28px}h3{font-size:24px}h4{font-size:20px}h5,ol,p,ul{font-size:16px}ol,p,ul{font-weight:400;margin-bottom:20px}.container{display:block!important;clear:both!important;margin:0 auto!important;max-width:580px!important}.container table{width:100%!important;border-collapse:collapse}.container .masthead{padding:80px 0}.container .masthead h1{margin:0 auto!important;max-width:90%;text-transform:uppercase}.container .content{background:#fff;padding:30px 35px}.container .content.footer{background:0 0}.container .content.footer p{margin-bottom:0;color:#888;text-align:center;font-size:14px}.container .content.footer a{color:#888;text-decoration:none;font-weight:700}.container .content.footer a:hover{text-decoration:underline}
    </style>
</head>
<body>
<table class="body-wrap">
    <tr>
        <td class="container">
            <table>
                <tr>
                    <td align="center" class="masthead">
                        <h2>Reset Password</h2>
                    </td>
                </tr>
                <tr>
                    <td class="content">
                        <%= image_tag 'http://localhost:3000/assets/logo-615a2dcb22c6d8ff6557098a08f196a28a68d5454c29359eb6c3478e2c132bf0.png', width: "45%", height: "40%", alt: "Cargocub logo" %>
                        <br><br>
                        <p>Hello <%= @resource.email %>!</p>
						<p>Someone has requested a link to change your password. You can do this through the link below.</p>
						<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

						<p>If you didn't request this, please ignore this email.</p>
						<p>Your password won't change until you access the link above and create a new one.</p>
                        <br>
                        Best Regards,
                        <br>
                        Cargocub team
                    </td>
                </tr>
            </table>

        </td>
    </tr>
    <tr>
        <td class="container">
            <table>
                <tr>
                    <td class="content footer" align="center">
                        <p> <strong>CARGOCUB, Inc. </strong>, <br>1355 Market Street, Suite 900
                        San Francisco, CA 94103
                        P: (123) 456-7890 </p>
                        <p>trade@company.com</p>
                    </td>
                </tr>
            </table>

        </td>
    </tr>
</table>
</body>
</html>

